body {
  font-size: large;
  background-color: rgb(137, 210, 163);
}

/* Header Styling */
#Header{
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  background-color: bisque;
}
.headerLinks {
  color: rgb(242, 239, 239);
  text-decoration: none;
  font-size: 20px;
}

#Title{
  float: left;
  margin-left: 15px;
  font-size: 40px;
}

.headerButtons {
  float: right;
  background-color: rgb(43, 160, 84);
  min-height: 50px;
  margin-right: 5px;
  border-radius: 3px;
  margin-top: 25px;
}

/* UserForm styling */

.formTemplate {
  background-color: bisque;
  width: 600px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  padding-bottom: 15px;
  margin: auto;
}

/* Dream Entry styling */
textarea {
  width: 90%;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

#Name {
  margin-left: 8px;
}


/* Home styling */
.Content{

  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}